.container.admin-action-button
  .btn-group.btn-group-justified{"aria-label" => "Justified button group", :role => "group"}
    %a.btn.btn-default{:href => dashboard_index_path, :role => "button"}
      %span.action-button
        %i.fa.fa-list-alt
        %span.glyphicon-class Dashboard
