%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container.header-menu
        .logo-wrapper
          %img{:href=>"#", :src => "/assets/socrates_black.png"}
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{:href => "#"} Separated link
            %li
              %a{:href => "#"} One more separated link
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "../navbar/"} Default
        %li
          %a{:href => "../navbar-static-top/"} Static top
        %li.active
          %a{:href => "./"}
            Fixed top
            %span.sr-only (current)
    / /.nav-collapse

.container.header-menu
  .logo-wrapper
    %img{:href=>"#", :src => "/assets/socrates_black.png"}

.intro-text-wrapper
  .container
    %h1 Welcome to Socrates
    %p Socrates is a teaching tool for student surveying.

    96% of students at UTEP have a mobile device.

- if session[:user_id] && UTEPSSO.authenticated?(cookies[:UTEP_SE], cookies[:UTEP_SA])
  - @current_user = current_user
  = link_to "#{@current_user.name.split(' ').first}, Sign Out", signout_path, id: "sign_out"
- else
= link_to 'Sign-In', "https://adminapps.utep.edu/sso?redirectURL=#{create_session_url}"
