%section#intro
  .container.white-color
    %h1 Socrates is a real-time classroom analytics platform.
    = link_to 'Log In', login_path, :class => "btn btn-outline btn-lg"

%section#first-pane{:style => "padding-top:20px;"}
  .container
    %section.content.vertical-align.media-then-text.row
      %article.half.media-content.col-sm-6.hidden-xs
        %img.reduced-width{:alt => "A simple way to track your finances", :src => "/assets/iphone-slanted-super-simple.png", :style => "max-width:333px;", :title => "Pennies app super simple"}
      %article.half.text-content.col-sm-6.hidden-xs{:style => "margin-top:160px;"}
        %h2 Track how much you know about a topic in class.
        %p
          Clever &amp; fun to use. Pennies does all the hard work for you by telling you how much you have to spend today. If you spend less, no worries, Pennies will give you more to spend tomorrow.

      %article.half.text-content.col-sm-6.visible-xs{:style => "margin-top:20px;"}
        %h2 Track how much you know about a topic in class.
        %p
          Clever &amp; fun to use. Pennies does all the hard work for you by telling you how much you have to spend today. If you spend less, no worries, Pennies will give you more to spend tomorrow.
      %article.half.media-content.col-sm-6.visible-xs
        %img.reduced-width{:alt => "A simple way to track your finances", :src => "/assets/iphone-slanted-super-simple.png", :style => "max-width:333px;", :title => "Pennies app super simple"}
