<div class="questionnaires_<%= action_name %>">
  <h1>
      Surveys Index
  </h1>
  <hr>
  <%= link_to "New Survey", new_question_path %>

  <ul>
    <% @surveys.each do |survey| %>
      <li>
        <%= link_to survey.name, show_survey_path(survey) %>
      </li>
    <% end -%>
  </ul>

</div>
