%h1 Individual Survey View

= @survey.name

- if @survey.avaliable_for_participant?(@user)
  = render 'form'
- else
  %p Uupss, #{@user.name} you have reach the maximum number of
  %p attempts for #{@survey.name}
