// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course-title {
  font-size: 2.5em;
  font-weight:bold;
  line-height:1em;
}
.course-wrapper:hover {
  background:#F5C944!important;
  text-decoration:none;
}
.course-wrapper {
  margin-bottom:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
