// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.no-border {
border: none!important;
}
.no-margin {
margin: 0px!important;
}
.widget-9 {
height: 145px;
}
.bg-primary {
	background-color: #6d5cae;
}
.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: relative;
}
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding: 10px 15px;
}
.bg-important {
	color: #fff;
	background-color: #F7634F !important;
}
.panel .panel-title {
	font-size:1.5em;
}
.panel .panel-body {
	padding:0 !important;
}
.dashboard-course-wrapper {margin-top:50px;}
.dashboard-course-title {
	font-size:2em
}

// Dashboard Buttons
.action-buttons-wrapper {
	height: auto;
	background-color: $socrates-yellow;
}
/////////////////////////
/*Dashboard Option System*/
.options-wrapper {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mobile-dashboard-buttons {
	height:150px;
	text-align:center;
	font-size:40px;
	margin: 5px 3px;
	background-color:#C9D2DC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mobile-dashboard-buttons p {
	font-size:15px;
}
#badge-alert {
	position:relative;
	left:100%;
	margin-left:-40px;
	margin-top:-60px;
	top:60px;
	width:60px;
	color:#fff;
	font-size:40px;
}
#badge-alert i {
	color:#D60323;
}
#badge-alert-number {
	position:absolute;
	color:#fff;
	top:13px;
	left:11px;
	font-size:0.5em;
	font-weight:bold;
}
